<!DOCTYPE html>
<html>
<head>
  <title>ActiveSierra</title>
  <%= stylesheet_link_tag    "active_sierra/application", media: "all" %>
  <%= javascript_include_tag "active_sierra/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
